title_client_project: kaufDA

{% extends "base_portfolio.html" %}

{% block title %}Design and art direction for a company brochure - kaufDA{% endblock %}
{% block ogtitle %}kaufDA - creation and direction design for a company brochure{% endblock %}
{% block ogdescription %}The idea was to push the brand color and valorize the brochure content in a nice editorial way. The black and white gives a better contrast to the red, the main brand color.{% endblock %}

{% block description_project %}
	<p>In <a href="http://www.kaufda.de">kaufDA</a> I was working as head of design. My last project was to lead a development of a company brochure. The idea was to push the brand color and valorize the brochure content in a nice editorial way. The black and white gives a better contrast to the red, the main brand color.</p>
    <p>
        <div class="uk-badge">BROCHURE DESIGN</div>
        <div class="uk-badge">CONCEPT</div>
        <div class="uk-badge">CREATIVE DESIGN</div>
    </p>
{% endblock %}

{% block images_project %}
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade'}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-copertina.png' %}" alt="Brochure copertina cover design">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:250}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-interno01.png' %}" alt="Brochure design">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:500}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-interno02.png' %}" alt="Brochure design second page">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:500}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-interno02b.png' %}" alt="Brochure design second page">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:250}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-interno03.png' %}" alt="Magazine design third page">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:250}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-interno04.png' %}" alt="Magazine design fourth page">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:250}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-interno05.png' %}" alt="Magazine design fourth page">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:250}">
        <img class="uk-align-center" src="{% static '/images/kaufda-brochure-interno06.png' %}" alt="Magazine design fourth page">
    </figure>
{% endblock %}