title_client_project: teambay

{% extends "base_portfolio.html" %}

{% block title %}Corporate identity for teambay{% endblock %}
{% block ogtitle %}Brand and CI - Corporare identity design for teambay {% endblock %}
{% block ogdescription %}For them I created the brand, presentations and slides of the main product.{% endblock %}

{% block description_project %}
	<p><a href="http://www.payorshare.de/">Teambay</a> is anonymous feedback platform for companies, where employees can submit their opinions and feelings to their managers in anonymous way.</p>
    <p>
        <div class="uk-badge">CORPORATE DESIGN</div>
        <div class="uk-badge">BRAND DESIGN</div>
        <div class="uk-badge">RESPONSIVE DESIGN</div>
    </p>
{% endblock %}

{% block images_project %}
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade'}">
        <img class="uk-align-center" src="{% static '/images/payorshare_logo.png' %}" alt="Brand design,logo design">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:250}">
        <img class="uk-align-center" src="{% static '/images/payorshare_stationery.png' %}" alt="Business card and Letterhead design">
    </figure>
    <figure class="uk-margin-small" data-uk-scrollspy="{cls:'uk-animation-fade', delay:500}">
        <img class="uk-align-center" src="{% static '/images/payorshare_website.png' %}" alt="Responsive web design">
    </figure>
{% endblock %}