html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-y: scroll; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline; }

audio:not([controls]) {
  display: none; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  height: auto;
  border: 0;
  vertical-align: middle; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

.container {
  *zoom: 1;
  margin: 0 auto;
  width: 1100px; }
  .container:before, .container:after {
    display: table;
    content: ""; }
  .container:after {
    clear: both; }

.row {
  *zoom: 1;
  float: left;
  margin-bottom: 0; }
  .row:before, .row:after {
    display: table;
    content: ""; }
  .row:after {
    clear: both; }
  .row [class^="span-"] {
    float: left;
    margin-right: 20px; }
    .row [class^="span-"]:last-child {
      margin-right: 0; }

.span-1 {
  width: 50px; }

.span-2 {
  width: 120px; }

.span-3 {
  width: 190px; }

.span-4 {
  width: 260px; }

.span-5 {
  width: 330px; }

.span-6 {
  width: 400px; }

.span-7 {
  width: 470px; }

.span-8 {
  width: 540px; }

.span-9 {
  width: 610px; }

.span-10 {
  width: 680px; }

.span-11 {
  width: 750px; }

.span-12 {
  width: 820px; }

.span-13 {
  width: 890px; }

.span-14 {
  width: 960px; }

.span-15 {
  width: 1030px; }

.span-16 {
  width: 1100px; }

.offset-1 {
  margin-left: 70px; }

.offset-2 {
  margin-left: 140px; }

.offset-3 {
  margin-left: 210px; }

.offset-4 {
  margin-left: 280px; }

.offset-5 {
  margin-left: 350px; }

.offset-6 {
  margin-left: 420px; }

.offset-7 {
  margin-left: 490px; }

.offset-8 {
  margin-left: 560px; }

.offset-9 {
  margin-left: 630px; }

.offset-10 {
  margin-left: 700px; }

.offset-11 {
  margin-left: 770px; }

.offset-12 {
  margin-left: 840px; }

.offset-13 {
  margin-left: 910px; }

.offset-14 {
  margin-left: 980px; }

.offset-15 {
  margin-left: 1050px; }

.tooltipsy {
  position: fixed;
  padding: 6px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 7px black;
  text-shadow: none;
  font: bold 12px 'Raleway',sans-serif;
  text-decoration: none;
  background: #282727;
  color: #e2e2e2; }
  .tooltipsy:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #282727;
    top: -10px;
    right: 5px;
    z-index: -1; }

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px; }

.flex-direction-nav .flex-prev {
  left: -36px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/*@import "lib/tabs/tabs";*/
/* General */
*:focus {
  outline: none; }

html {
  height: 100%; }

body {
  background: url(../images/white_wall.png);
  font-size: 11px;
  font-size: 1.1rem;
  height: 100%; }

.container {
  padding: 10px;
  z-index: 1000;
  position: relative; }

.row {
  padding: 3px 0 12px 0; }

/* Typography */
p, ul, input, textarea, label {
  font-family: 'Raleway', sans-serif;
  color: #565454;
  font-size: 9px;
  font-size: 0.9rem; }

p {
  margin-top: 16px;
  line-height: 1.4rem; }

h2, h3, h4, h5, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  color: #303030;
  font-weight: 600; }

h1 {
  font-family: 'Crete Round', serif;
  font-size: 23px;
  font-size: 2.3rem; }

h2 {
  font-size: 18px;
  font-size: 1.8rem; }

h3 {
  font-size: 16px;
  font-size: 1.6rem; }

a {
  color: #5bab93;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear; }
  a:hover {
    color: #4b927d; }

strong {
  font-weight: 700; }

/* Forms */
::-webkit-input-placeholder, input[placeholder], :-moz-placeholder {
  color: #e2e2e2 !important; }

input {
  width: 50%; }

textarea {
  width: 90%; }

input, textarea {
  background-color: #282727;
  border: none;
  padding: 8px 12px;
  display: block;
  margin: 10px 0;
  font-size: 8px;
  font-size: 0.8rem;
  /*color: #373333;*/
  -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear; }
  input:hover, textarea:hover {
    background-color: #252424; }
  input:focus, textarea:focus {
    background-color: #201f1f; }

input.button {
  border: none;
  box-shadow: none;
  width: 20%; }

/* Buttons */
.button {
  border-radius: 4px 4px 4px 4px;
  padding: 4px 0px;
  text-align: center;
  line-height: 35px;
  font-size: 9.5px;
  font-size: 0.95rem;
  font-weight: bold;
  background: #4b9982;
  /*background: -moz-linear-gradient(center top , #5bab93 0px, #4b9982 50%, #3e8e78 50%, #327361 100%) repeat scroll 0 0 transparent;*/
  border-radius: 6px 6px 6px 6px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -moz-user-select: -moz-none;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear; }
  .button:hover {
    background: none repeat scroll 0 0 #3e8e78;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12) inset; }

::-webkit-validation-bubble-message {
  padding: 1em; }

/* Icons */
.social ul {
  margin: 20px 0; }
  .social ul li {
    display: inline-block; }
  .social ul a {
    height: 49px;
    width: 49px;
    display: block;
    background-position: 0 0;
    cursor: pointer;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear; }
    .social ul a.twitter {
      background: url(../images/twitter-icon.png) no-repeat; }
    .social ul a.skype {
      background: url(../images/skype-icon.png) no-repeat; }
    .social ul a.linkedin {
      background: url(../images/linkedin-icon.png) no-repeat; }
    .social ul a.facebook {
      background: url(../images/fb-icon.png) no-repeat; }
    .social ul a:hover {
      background-position: 0 -50px; }
.social.small ul {
  margin: 0; }
  .social.small ul a {
    height: 31px;
    width: 34px; }
    .social.small ul a.github {
      background: url(../images/github-icon.png) no-repeat; }
    .social.small ul a.twitter {
      background: url(../images/twitter-small-icon.png) no-repeat; }
    .social.small ul a.linkedin {
      background: url(../images/linkedin-small-icon.png) no-repeat; }
    .social.small ul a:hover {
      background-position: 0 -37px; }

.email {
  background: url(../images/email-icon.png) no-repeat 0 5px;
  height: 12px;
  width: 15px;
  display: block;
  padding-left: 20px;
  padding-bottom: 5px; }

/* Slides */
.slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 150px; }

#about, #contact {
  background: url(../images/dark_wall.jpg); }
  #about p, #about label, #about input, #about textarea, #contact p, #contact label, #contact input, #contact textarea {
    color: #DBD9D9; }
  #about h1, #about h2, #about h3, #about h4, #about h5, #about h6, #contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
    color: #4B9982; }
  #about .skills, #contact .skills {
    margin-top: 45px; }
  #about .round img, #contact .round img {
    width: 90%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    background: #282727; }

#about {
  padding-bottom: 100px; }

#contact.slide {
  min-height: 250px; }

#portfolio, #intro {
  background: url(../images/white_wall.png); }
  #portfolio h1, #portfolio h2, #portfolio h3, #portfolio h4, #portfolio h5, #portfolio h6, #intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    color: #282727; }

.bg {
  bottom: 0;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  background: url(../images/berlin-bg.png) bottom center fixed repeat-x;
  position: absolute;
  z-index: 0;
  opacity: 0.7; }

/* Intro */
#intro h1 {
  color: #4B9982;
  font-size: 40px;
  font-size: 4rem; }
#intro .emphasy {
  text-align: center; }
#intro .title {
  margin: 30px 0;
  font-size: 20px;
  font-size: 2rem; }
#intro h3 {
  font-size: 9.5px;
  font-size: 0.95rem; }
#intro .bg {
  opacity: 0.2; }

/* Skills */
.imagebox {
  background: #282727;
  padding: 15px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 100px;
  text-align: center; }
  .imagebox img {
    margin-left: auto;
    margin-right: auto; }

.slidingbox {
  margin-top: 30px; }

/* Portfolio */
.portfolio-slide {
  background: #373333; }

.images {
  padding: 10px;
  background: #DBD9D9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .images img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.line {
  height: 2px;
  background: #DBD9D9;
  margin: 20px 0; }

.tags {
  margin: 10px 0; }
  .tags .tag {
    background: #DBD9D9;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 7px;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin: 2px 0;
    display: inline-block; }

/* Navigation */
nav {
  background: url(../images/navbar.png) no-repeat 0 -65px;
  height: 246px;
  width: 244px;
  position: fixed;
  top: 0;
  right: 50px;
  padding-left: 28px;
  z-index: 100000; }
  nav ul {
    margin-left: 12px; }
  nav li {
    display: inline-block;
    margin-top: 75px; }
    nav li a {
      height: 36px;
      width: 40px;
      display: block;
      -webkit-transition: background 0.3s linear;
      -moz-transition: background 0.3s linear;
      -o-transition: background 0.3s linear;
      transition: background 0.3s linear; }
      nav li a.intro {
        background: url(../images/links.png) 0 0 no-repeat; }
        nav li a.intro:hover, nav li a.intro.current {
          background-position: 0px -41px; }
      nav li a.about {
        background: url(../images/links.png) -46px 0 no-repeat; }
        nav li a.about:hover, nav li a.about.current {
          background-position: -46px -41px; }
      nav li a.portfolio {
        background: url(../images/links.png) -95px 0 no-repeat; }
        nav li a.portfolio:hover, nav li a.portfolio.current {
          background-position: -95px -41px; }
      nav li a.contact {
        background: url(../images/links.png) -141px 0 no-repeat; }
        nav li a.contact:hover, nav li a.contact.current {
          background-position: -141px -41px; }

/* Footer */
footer {
  background: url(../images/dark_wall.jpg);
  width: 100%;
  z-index: 9999999; }
  footer p {
    margin: 9px 0 0 0; }
  footer .wrapper {
    border-top: 1px dashed #444444;
    border-bottom: 1px dashed #444444;
    padding: 6px 0; }
  footer .smallback {
    background: url(../images/white_wall.png);
    height: 10px;
    width: 100%; }
  footer .row, footer .container {
    padding: 0; }

@media (max-width: 630px) {
  img {
    width: auto !important;
    height: auto !important;
    max-width: 100%; }

  .container {
    width: auto; }

  .row {
    margin: 0;
    width: 100%; }
    .row > [class^="span-"] {
      float: none;
      margin: 0 0 30px;
      width: auto; }

  nav {
    height: 140px;
    background-position: 0 -104px; }
    nav li {
      margin-top: 30px; } }
@media (max-width: 320px) {
  nav {
    right: 10px; } }
@media (min-width: 630px) and (max-width: 790px) {
  .container {
    width: 630px; }

  img {
    width: auto !important;
    height: auto !important;
    max-width: 100%; }

  .row [class^="span-"] {
    margin-right: 10px; }

  .span-1 {
    width: 30px; }

  .span-2 {
    width: 70px; }

  .span-3 {
    width: 110px; }

  .span-4 {
    width: 150px; }

  .span-5 {
    width: 190px; }

  .span-6 {
    width: 230px; }

  .span-7 {
    width: 270px; }

  .span-8 {
    width: 310px; }

  .span-9 {
    width: 350px; }

  .span-10 {
    width: 390px; }

  .span-11 {
    width: 430px; }

  .span-12 {
    width: 470px; }

  .span-13 {
    width: 510px; }

  .span-14 {
    width: 550px; }

  .span-15 {
    width: 590px; }

  .span-16 {
    width: 630px; }

  .offset-1 {
    margin-left: 40px; }

  .offset-2 {
    margin-left: 80px; }

  .offset-3 {
    margin-left: 120px; }

  .offset-4 {
    margin-left: 160px; }

  .offset-5 {
    margin-left: 200px; }

  .offset-6 {
    margin-left: 240px; }

  .offset-7 {
    margin-left: 280px; }

  .offset-8 {
    margin-left: 320px; }

  .offset-9 {
    margin-left: 360px; }

  .offset-10 {
    margin-left: 400px; }

  .offset-11 {
    margin-left: 440px; }

  .offset-12 {
    margin-left: 480px; }

  .offset-13 {
    margin-left: 520px; }

  .offset-14 {
    margin-left: 560px; }

  .offset-15 {
    margin-left: 600px; } }
@media (min-width: 790px) and (max-width: 1100px) {
  .container {
    width: 790px; }

  .row [class^="span-"] {
    margin-right: 10px; }

  .span-1 {
    width: 40px; }

  .span-2 {
    width: 90px; }

  .span-3 {
    width: 140px; }

  .span-4 {
    width: 190px; }

  .span-5 {
    width: 240px; }

  .span-6 {
    width: 290px; }

  .span-7 {
    width: 340px; }

  .span-8 {
    width: 390px; }

  .span-9 {
    width: 440px; }

  .span-10 {
    width: 490px; }

  .span-11 {
    width: 540px; }

  .span-12 {
    width: 590px; }

  .span-13 {
    width: 640px; }

  .span-14 {
    width: 690px; }

  .span-15 {
    width: 740px; }

  .span-16 {
    width: 790px; }

  .offset-1 {
    margin-left: 50px; }

  .offset-2 {
    margin-left: 100px; }

  .offset-3 {
    margin-left: 150px; }

  .offset-4 {
    margin-left: 200px; }

  .offset-5 {
    margin-left: 250px; }

  .offset-6 {
    margin-left: 300px; }

  .offset-7 {
    margin-left: 350px; }

  .offset-8 {
    margin-left: 400px; }

  .offset-9 {
    margin-left: 450px; }

  .offset-10 {
    margin-left: 500px; }

  .offset-11 {
    margin-left: 550px; }

  .offset-12 {
    margin-left: 600px; }

  .offset-13 {
    margin-left: 650px; }

  .offset-14 {
    margin-left: 700px; }

  .offset-15 {
    margin-left: 750px; } }
